header
<div id='avtor'>
<p><a href='/admin'>admin</a></p>
<label for"n">Введите своё имя</label>
<input type = "text" id="n" class="n">
<button class="btn">вставить</button>
<p  id="name" name="user_name">сдесь будет ваше имя</p>
</div>